<!-- Carousel -->
<div class="row carousel-holder">
  <div class="col-md-12">
    <carousel></carousel>
  </div>
</div>

<!-- Product search bar -->
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input placeholder="Filter products by title"
             class="form-control" type="text"
             [formControl]="titleFilter"
             (keyup)="search(titleFilter.value)">
    </div>
  </div>
</div>

<!-- Product Item Catalog -->
<div class="row">
  <div *ngFor="let prod of products | async" class="col-sm-4
col-lg-4 col-md-4">
    <product-item [product]="prod"></product-item>
  </div>
</div>
