<div [ngSwitch]="action">
  <product-add (close)="onFormClose($event)" *ngSwitchCase="'addProd'"></product-add>
  <product-edit (close)="onFormClose($event)" *ngSwitchCase="'editProd'"></product-edit>
  <span *ngSwitchDefault></span>
</div>

<!-- Add Product -->
<hr>
<div>
  <button (click)="action = 'addProd'" class="btn btn-info">Add Product</button>
</div>
<hr>
<!-- End Add Product -->

<table class="table table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Description</th>
    <th>Categories</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-success" *ngFor="let product of products">
    <td>
      <button (click)="action = 'editProd'" class="btn btn-info">Edit</button>
    </td>
    <td>{{product.title}}</td>
    <td>{{product.price}}</td>
    <td>{{product.rating}}</td>
    <td>{{product.description}}</td>
    <td>{{product.categories}}</td>
  </tr>
  </tbody>
</table>
